* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #323130;
  background: #ffffff;
}

#app {
  padding: 16px;
  min-height: 100vh;
}
